a{
  text-decoration: none;
}

.hidden{
  height: 0;
  overflow: hidden;
}

.meet__wrapper{
  width: 505px;
  height: 627px;
  margin: 0 auto;
}

.meet__header{

  height: 53px;
  margin: 0 auto;
}

.meet__header-h3{

  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.00018709705043,0,0,0.99886996012878,0,0);
  -webkit-transform: matrix( 1.00018709705043,0,0,0.99886996012878,0,0);
  -ms-transform: matrix( 1.00018709705043,0,0,0.99886996012878,0,0);

}

.meet__block{
  width: 220px;
  height: 259px;
  margin: 0 auto;
  margin-right: 32px;
  overflow: hidden;
  float: left;
}

.meet__img{
  width: 122px;
  height: 121px;
  margin: 0 auto;
  margin-bottom: 20px;

}

.meet__name{

  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.00051713442344,0,0,0.99797698455071,0,0);
  -webkit-transform: matrix( 1.00051713442344,0,0,0.99797698455071,0,0);
  -ms-transform: matrix( 1.00051713442344,0,0,0.99797698455071,0,0);
}

.meet__name_h3{

}

.meet__description{
  width: 218px;
  margin: 0 auto;

  font-size: 14px;
  font-family: "Roboto";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.00051713442344,0,0,0.99797698455071,0,0);
  -webkit-transform: matrix( 1.00051713442344,0,0,0.99797698455071,0,0);
  -ms-transform: matrix( 1.00051713442344,0,0,0.99797698455071,0,0);

}

.meet__description_h3{


}
.meet__button{
  width: 192px;
  height: 41px;
  margin: 0 auto;
  margin-top: 37px;

}

.meet__block_twins{
  width: 220px;
  height: 518px;
  margin: 0 auto;
  margin-right: 32px;
  overflow: hidden;
  float: left;
}


body {
  display: block;
  margin: 0;
}
img{
  padding:0;
  margin:0;
}
h3{
  margin:0px;
}

li{
  list-style:none;
  padding-top: 0px;
}
ul#menu{

  padding-left: 0px;

}

.clearfix  {

  /* display: table */
  -height: 1%; /*IE6*/
  *zoom: 1; /*IE6-7*/
  display: table;
}

.clearfix:after {
  /*content: '1 1';*/  /*Op15+*/
  content: '1 1 1 1 1 1 1 1 1 1 1'; /*Op12+*/
  font: .1px/0 a;
  display: block;
  word-spacing: 99in;
  overflow: hidden; /*IE8-*/
}
