a{
  text-decoration: none;
}

.hidden-1440{
  height: 0;
  overflow: hidden;
}



body {
  display: block;
  margin: 0;
}
img{
  padding:0;
  margin:0;
}
h3{
  margin:0px;
}

li{
  list-style:none;
  padding-top: 0px;
}
ul#menu{

  padding-left: 0px;

}

.slider__head{
  width: 320px;
  height: 76px;
  margin: 0 auto;
  padding-top: 37px;

  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}


.slider {
  font-family: "Montserrat", Arial, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  width: 320px;
  height: 778px;
  margin: 0 auto;

}

.slider__wrap,
.slider__step_1,
.slider__step_2,
.slider__step_3 {

  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", Arial, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  width: 301px;
  height: 241px;

  background-size: cover;
  overflow: hidden;

  padding-top: 68px;
  margin-bottom: 10px;

}
.slider__step_1 {

  background: url('../../../img/slider__step1_bg.png') 50% 50% no-repeat;
}

.slider__step_2 {

  background: url('../../../img/slider__step2_bg.png') 50% 50% no-repeat;
}

.slider__step_3 {

  background: url('../../../img/slider__step3_bg.png') 50% 50% no-repeat;
}





.slider__button {

  margin: 0 auto;
  display: block;
  transition: 1.3s;


  border: 2px solid transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;


    background-color: rgb(255, 78, 80);
    width: 70px;
    height: 20px;
    margin-left: 22px;



}
.slider__button a{
  text-decoration: none;
  font-size: 10px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;

}
.slider__button:hover {
  transition: 0.8s;
  -webkit-transform: scale(0.97, 0.97);
  -moz-transform: scale(0.97, 0.97);
  -ms-transform: scale(0.97, 0.97);
  -o-transform: scale(0.97, 0.97);
  transform: scale(0.97, 0.97);
  border: 2px solid #ff4e50;
  background-color: #ffffff;
  color: #ff4e50;
}

.slider__button a:hover {
  color: #ff4e50;

}


.slider__title {
  cursor: default;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 19px;
  width: 181px;
  height: 49px;

    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}



.slider__text {
  font-size: 14px;
  font-family: "Roboto";
  color: rgb(204, 204, 204);
  line-height: 1.2;
  text-align: left;

  cursor: default;
  margin-top: 19px;
  margin-left: 10px;
  width: 261px;
  height: 45px;
}






