a{
  text-decoration: none;
}

.hidden-1440{
  height: 0;
  overflow: hidden;
}



body {
  display: block;
  margin: 0;
}
img{
  padding:0;
  margin:0;
}
h3{
  margin:0px;
}

li{
  list-style:none;
  padding-top: 0px;
}
ul#menu{

  padding-left: 0px;

}


body {
  margin: 0;
  padding: 0; }

.slider {
  font-family: "Montserrat", Arial, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  width: 301px;
  height: 241px;
  color: #ffffff;
  background: url('../../../img/slider__step1_bg.png') 50% 50% no-repeat;
  background-size: cover;
  overflow: hidden;
}

.slider__wrap {
  max-width: 940px;
  margin: auto;
  text-align: center; }

.slider__title {
  font-size: 52px;
  margin: 145px 0 25px 0;
  cursor: default;
  text-transform: uppercase; }

.slider__text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  margin: 23px 0 34px 0; }

.slider__button {
  font-size: 14px;
  line-height: 36px;
  display: inline-block;
  min-width: 225px;
  height: 36px;
  transition: 1.3s;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 1px;
  color: inherit;
  border: 2px solid transparent;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;

  background-color: #ff4e50; }
.slider__button:hover {
  transition: 0.8s;
  -webkit-transform: scale(0.97, 0.97);
  -moz-transform: scale(0.97, 0.97);
  -ms-transform: scale(0.97, 0.97);
  -o-transform: scale(0.97, 0.97);
  transform: scale(0.97, 0.97);
  color: #ff4e50;
  border: 2px solid #ff4e50;
  background-color: #ffffff; }
