  /* ---------------------------------MEET 768---------------------*/


@media screen and (min-width: 768px) and (max-width: 1439px) {
    .meet {
      a {
        text-decoration: none;
      }
        width: 768px;
        height: 727px;
        margin: 0 auto;
        position: relative;
        .meet__header {
            color: #333;
            margin-top: 98px;
            text-align: center;
            font-family: $MSRegular;
            letter-spacing: 0.005em;
            font-size: 22px;
            font-weight: 700;
        }
        .partners {
            width: 236px;
            height: 240 px;
            position: relative;
            .partners__avatar {
                width: 120px;
                height: 120px;
                margin-left: 58px;
                display: inline-block;
            }
            .partners__status {
                position: absolute;
                width: 41px;
                height: 41px;
                top: 85px;
                right: 53px;
            }
            .partners__header {
                margin-top: 18px;
                color: #333;
                font-family: $MSRegular;
                font-size: 14px;
                font-weight: 700;
                text-align: center;
            }
            .partners__article {
                margin-top: 15px;
                width: 216px;
                color: #666;
                font-family: $RobotoRegular;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.2;
                // letter-spacing: -0.005em;
                text-align: center;
            }
        }
        .partners_section-1 {
            margin-left: 139px;
            margin-top: 34px;
            float: left;
            .partners__avatar {
                background: url("../img/partners__avatar_1.png");
            }
            .partners__status {
                background: url("../img/partners__status_1.png");
            }
        }
        .partners_section-2 {
            margin-left: 20px;
            margin-top: 34px;
            float: left;
            .partners__avatar {
                background: url("../img/partners__avatar_2.png");
            }
            .partners__status {
                background: url("../img/partners__status_2.png");
            }
        }
        .partners_section-3 {
            margin-left: 139px;
            margin-top: 25px;
            float: left;
            .partners__avatar {
                background: url("../img/partners__avatar_3.png");
            }
            .partners__status {
                background: url("../img/partners__status_3.png");
            }
        }
        .partners_section-4 {
            margin-left: 20px;
            margin-top: 25px;
            float: left;
            .partners__avatar {
                background: url("../img/partners__avatar_4.png");
            }
            .partners__status {
                background: url("../img/partners__status_4.png");
            }
        }
        .meet__button {
            button {
                color: #ff4e50;
                margin-left: 288px;
                margin-top: 72px;
                font-family: $MSRegular;
                font-size: 14px;
                font-weight: 700;
                height: 40px;
                width: 192px;
                border-radius: 20px;
                background-color: transparent;
                line-height: 40px;
                text-align: center;
                border: 2px solid #ff4e50;
                &:hover {
                    box-shadow: 0 0 3px 3px hsla(0, 0, 0, 0.2);
                    cursor: pointer;
                    text-shadow: 1px 2px 2px hsla(0, 0, 0, 0.2);
                }
            }
        }
    }
}


  /* ---------------------------------END OF MEET 768---------------------*/