@media screen and (min-width: 768px) and (max-width: 1439px) {
    .slider-wrapper {
        width: 768px;
        height: 556px;
        margin: 0 auto;
    }
    .slider__headline {
        padding: 97px 0 0;
        text-align: center;
        text-indent: 7px;
        color: #333;
        font-family: $MSRegular;
        font-size: 22px;
        font-weight: 700;
    }
    .slider {
        display: inline-block;
        float: left;
        width: 236px;
        height: 400px;
        margin: 36px 10px 0;
        border-radius: 4px;
        ul {
            margin: 0 auto;
            width: 236px;
            height: 400px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            li {
                display: inline-block;
                float: left;
            }
        }
        .slider__content {
            position: absolute;
            width: 300px;
            height: 403px;
            top: 0;
            .slider__content-note {
                width: 70px;
                height: 20px;
                background-color: #ff4e50;
                border-radius: 10px;
                p {
                    padding: 5px 0;
                    text-indent: 14px;
                    letter-spacing: 3px;
                    word-spacing: -3px;
                    text-transform: uppercase;
                    color: #fff;
                    font-family: $MSRegular;
                    font-size: 10px;
                    font-weight: 400;
                }
            }
            .slider__content-text {
                width: 202px;
                height: 132px;
                h5 {
                    color: #fff;
                    font-family: $MSRegular;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 1.2em;
                }
                p {
                    margin-top: 10px;
                    color: #ccc;
                    font-family: $RobotoRegular;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 1.5em;
                    letter-spacing: 0.05em;
                }
            }
        }
    }
    .first-slider {
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 214px;
                left: 20px;
            }
            .slider__content-text {
                position: absolute;
                top: 250px;
                left: 20px;
            }
        }
    }
    .second-slider {
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 260px;
                left: 20px;
            }
            .slider__content-text {
                position: absolute;
                top: 296px;
                left: 20px;
            }
        }
    }
    .third-slider {
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 214px;
                left: 20px;
            }
            .slider__content-text {
                position: absolute;
                top: 250px;
                left: 20px;
            }
        }
    }
    .slider:after {
        content: " ";
        clear: both;
    }
    /* ---------------------- <   >  ------------------------- */
    .bx-prev {
        background: $sprite;
        background-position: 0 0;
        display: block;
        position: absolute;
        top: 40px;
        left: 20px;
        height: 55px;
        width: 31px;
        cursor: pointer;
        text-indent: -9999px;
        z-index: 50;
    }
    .bx-prev:hover {
        background-position: 0 -58px;
    }
    .bx-next {
        background: $sprite;
        display: block;
        background-position: -33px 0;
        position: absolute;
        top: 40px;
        right: 20px;
        height: 55px;
        width: 31px;
        cursor: pointer;
        text-indent: -9999px;
        z-index: 50;
    }
    .bx-next:hover {
        background-position: -33px -58px;
    }
}
