@media screen and (min-width: 1440px) {
    body {
        background-color: #fff;
    }
    .main__wrapper {
        width: 1440px;
        margin: 0 auto;
        background: #fff;
    }
    .header__wrapper {
        width: 100%;
        height: 700px;
        background: $headerWideBG;
        background-position: 50% 0;
        header {
            position: relative;
            width: 1440px;
            height: 700px;
            margin: 0 auto;
            .account {
                float: right;
                margin-right: 248px;
                margin-top: 18px;
                width: 182px;
                height: 36px;
                .btn-account {
                    display: block;
                    float: left;
                    margin-top: 20px;
                    width: 90px;
                    height: 36px;
                    border: 2px solid transparent;
                    border-radius: 18px;
                    background: transparent;
                    &:hover {
                        border: 2px solid #fff;
                        cursor: pointer;
                    }
                    span {
                        color: #fff;
                        font: {
                            family: $MSRegular;
                            size: 14px;
                            weight: 700;
                        }
                    }
                }
            }
            img {
                position: absolute;
                top: 46px;
                left: 250px;
            }
            h1 {
                margin: 0 auto;
                padding-top: 214px;
                width: 510px;
                height: 100px;
                color: #fff;
                letter-spacing: -0.008em;
                line-height: 1.23em;
                text: {
                    transform: uppercase;
                    align: center;
                }
                font: {
                    family: $MSRegular;
                    size: 52px;
                    weight: 600;
                }
            }
            h3 {
                margin: 51px auto 0; 
                width: 420px;
                height: 24px;
                color: #fff;
                text-align: center;
                letter-spacing: 0.01em;
                font: {
                    family: $RobotoRegular;
                    size: 24px;
                    weight: 300;
                }
            }
            #find {
                display: block;
                margin: 38px auto 0;
                width: 225px;
                height: 40px;
                background-color: #ff4e50;
                border-radius: 20px;
                border: none;
                span {
                    color: #fff;
                    font-family: $MSRegular;
                    font-size: 14px;
                    font-weight: 700;
                }
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 2px 2px hsla(0, 0, 0, 0.2);
                    text-shadow: 1px 3px 3px hsla(0, 0, 0, 0.2);
                }
            }
        }
    }
}
