@media screen and (min-width: 1440px) {
    .slider_wrapper {
        width: 960px;
        height: 558px;
        margin: 0 auto;
        .slider__header {
            padding: 97px 0 0;
            text-align: center;
            color: #333;
            font-family: $MSRegular;
            font-size: 22px;
            font-weight: 700;
        }
        .slider {
            display: inline-block;
            float: left;
            width: 300px;
            height: 403px;
            margin: 35px 10px 0;
            ul {
                margin: 0 auto;
                width: 300px;
                height: 403px;
                border-radius: 4px;
                overflow: hidden;
                position: relative;
                li {
                    display: inline-block;
                    float: left;
                }
            }
            .slider__content {
                position: absolute;
                width: 300px;
                height: 403px;
                top: 0;
                .slider__content-note {
                    width: 70px;
                    height: 20px;
                    background-color: #ff4e50;
                    border-radius: 10px;
                    p {
                        padding: 5px 0;
                        text-indent: 14px;
                        letter-spacing: 3px;
                        word-spacing: -3px;
                        text-transform: uppercase;
                        color: #fff;
                        font-family: $MSRegular;
                        font-size: 10px;
                        font-weight: 400;
                    }
                }
                .slider__content-text {
                    width: 262px;
                    height: 132px;
                    h5 {
                        color: #fff;
                        font-family: $MSRegular;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.2em;
                    }
                    p {
                        padding: 12px 0 10px;
                        color: #ccc;
                        font-family: $RobotoRegular;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 1.2em;
                    }
                }
            }
        }
    }
    .slider_step-1 {
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 230px;
                left: 20px;
            }
            .slider__content-text {
                position: absolute;
                top: 267px;
                left: 19px;
            }
        }
    }
    .slider_step-2 {
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 260px;
                left: 20px;
            }
            .slider__content-text {
                position: absolute;
                top: 297px;
                left: 18px;
            }
        }
    }
    .third-slider {
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 230px;
                left: 19px;
            }
            .slider__content-text {
                position: absolute;
                top: 267px;
                left: 20px;
            }
        }
    }
    .slider:after {
        content: " ";
        clear: both;
    }
    /* ------------------ <  >  ----------------------------- */
    .bx-prev {
        background: $sprite;
        background-position: 0 0;
        display: block;
        position: absolute;
        top: 155px;
        left: 21px;
        height: 55px;
        width: 31px;
        cursor: pointer;
        text-indent: -9999px;
        z-index: 50;
    }
    .bx-prev:hover {
        background-position: 0 -58px;
    }
    .bx-next {
        background: $sprite;
        display: block;
        background-position: -33px 0;
        position: absolute;
        top: 155px;
        right: 21px;
        height: 55px;
        width: 31px;
        cursor: pointer;
        text-indent: -9999px;
        z-index: 50;
    }
    .bx-next:hover {
        background-position: -33px -58px;
    }
}
