@import "zero-style";
@import "var";
@import "font";
@import "320/_header-320";
@import "320/_main-how-320";
@import "320/main-meeting-320";
@import "320/_main-flats-320";
@import "320/_main-account-320";
@import "320/footer-320";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}