.footer__wrapper{
  width: 768px;
  height: 197px;
  margin: 0 auto;
}

.footer__logo{
  width: 143px;
  height: 17px;
  margin: 0 auto;
  margin-bottom: 18px;
  float: left;
}


ul#menu li a {
  font-size: 14px;
  font-family: "Roboto";

  color: rgb(102, 102, 102);
  line-height: 1.714;
  -moz-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  -webkit-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  -ms-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  padding: 0px 15px;
  text-decoration: none;
  margin: 0 auto;

}
.company{


  width: 768px;
  display: inline-block;
  text-align: center;

  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  -moz-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  -webkit-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  -ms-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  margin-bottom: 5px;

}
.footer__menu{
  float: left;
}
.footer__partners{
  float: left;

  width: 59px;
  height: 12px;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  -moz-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  -webkit-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  -ms-transform: matrix( 0.99843692672654,0,0,1.00111054125503,0,0);
  margin-bottom: 19px;
  margin-top: 18px;
}
.footer__logo_designed{
  float: left;

  width: 122px;
  height: 44;
  margin: 0 auto;
}
