$width-desktop-wrapper:         1440px;
$width-tablet-wrapper:          768px;
$width-phone-wrapper:           320px;

$height-phone-fs:               540px;  // fs: first screen
$height-tablet-fs:              700px;  //fs: first screen

$height-tablet-headere:         700px;
$height-tablet-footer:          197px;

//header
$header-url-background:         url(../../img/background-header.png) no-repeat;
$header-color:                  #fff;

// color


// fonts
$font-family-MontReg:           'MontSerratRegular', Arial, sans-serif;
$font-family-MontBold:          'MontSerratBold', Arial, sans-serif;
$font-family-RoboThin:        'RobotoThin', Arial, sans-serif;

// font size
$h1:                            30px;
$h3:                            18px;
$span14:                        14px;