@media screen and (max-width: 767px) {
    body {
        background-color: #FFF;
    }
    .main__wrapper {
        width: 320px;
        margin: 0 auto;
        background: #fff;
    }
    .main__wrapper {
        width: 320px;
    }
    .header__wrapper {
        width: 100%;
        background: $haederMobileBG;
        background-position: 50% 0;
        header {
            width: 320px;
            height: 540px;
            margin: 0 auto;
            .account {
                width: 320px;
                height: 32px;
                padding: 0 60px;
                .btn-account {
                    display: block;
                    float: left;
                    margin-top: 20px;
                    width: 87px;
                    height: 36px;
                    border: 2px solid transparent;
                    border-radius: 18px;
                    background: transparent;
                    cursor: pointer;
                    #sign-up {
                        margin-left: 0;
                    }
                    &:hover {
                        border: 2px solid #fff;
                    }
                    span {
                        color: #fff;
                        font: {
                            family: $MSRegular;
                            size: 14px;
                            weight: 700;
                        }
                    }
                }
            }
            img {
                margin: 115px 70px 0 71px;
            }
            h1 {
                margin: 29px auto 0;
                width: 300px;
                height: 59px;
                color: #fff;
                letter-spacing: -0.0025em;
                line-height: 1.2em;
                text: {
                    transform: uppercase;
                    align: center;
                }
                font: {
                    family: $MSRegular;
                    size: 30px;
                    weight: 700;
                }
            }
            h3 {
                margin: 22px auto 0;
                width: 240px;
                height: 36px;
                color: #fff;
                text-align: center;
                letter-spacing: -0.005em;
                line-height: 1.2em;
                font: {
                    family: $RobotoRegular;
                    size: 18px;
                    weight: 300;
                }
            }
            #find {
                margin: 22px 20px 0;
                width: 280px;
                height: 40px;
                background-color: #ff4e50;
                border-radius: 20px;
                border: none;
                span {
                    color: #fff;
                    font-family: $MSRegular;
                    font-size: 14px;
                    font-weight: 700;
                }
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 2px 2px hsla(0, 0, 0, 0.2);
                    text-shadow: 1px 3px 3px hsla(0, 0, 0, 0.2);
                }
            }
        }
    }
}
