@media screen and (max-width: 767px) {
    .slider-wrapper {
        width: 320px;
        height: 820px;
        margin: 0 auto;
    }
    .slider__headline {
        padding: 37px 0 16px;
        text-align: center;
        color: #333;
        font-family: $MSRegular;
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 0.005em;
    }
    .slider {
        width: 300px;
        height: 240px;
        ul {
            margin: 0 auto;
            width: 300px;
            height: 240px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            li {
                display: inline-block;
            }
        }
        .slider__content {
            .slider__content-note {
                width: 70px;
                height: 20px;
                background-color: #ff4e50;
                border-radius: 10px;
                p {
                    padding: 6px 0 0;
                    text-indent: 14px;
                    letter-spacing: 3px;
                    word-spacing: -3px;
                    text-transform: uppercase;
                    color: #fff;
                    font-family: $MSRegular;
                    font-size: 10px;
                    font-weight: 400;
                }
            }
            .slider__content-text {
                width: 270px;
                height: 142px;
                margin-top: -4px;
                h5 {
                    color: #fff;
                    font-family: $MSRegular;
                    font-size: 24px;
                    font-weight: 700;
                    padding-bottom: 12px;
                    line-height: 1.2em;
                }
                p {
                    line-height: 1.2em;
                    color: #ccc;
                    font-family: $RobotoRegular;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
    .first-slider {
        margin: 0 auto 10px;
        width: 300px;
        height: 240px;
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 69px;
                left: 20px;
            }
            .slider__content-text {
                position: absolute;
                top: 111px;
                left: 20px;
            }
        }
    }
    .second-slider {
        margin: 0 auto 10px;
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 99px;
                left: 20px;
            }
            .slider__content-text {
                position: absolute;
                top: 140px;
                left: 20px;
            }
        }
    }
    .third-slider {
        margin: 0 auto;
        position: relative;
        .slider__content {
            .slider__content-note {
                position: absolute;
                top: 69px;
                left: 20px;
            }
            .slider__content-text {
                position: absolute;
                top: 111px;
                left: 20px;
            }
        }
    }
    /* ----------------------------------------------- */
    .bx-prev {
        // background: $sprite;
        background-position: 0 0;
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 55px;
        width: 31px;
        cursor: pointer;
        text-indent: -9999px;
        z-index: 50;
    }
    .bx-prev:hover {
        background-position: 0 -58px;
    }
    .bx-next {
        // background: $sprite;
        display: block;
        background-position: -33px 0;
        position: absolute;
        top: 20px;
        right: 20px;
        height: 55px;
        width: 31px;
        cursor: pointer;
        text-indent: -9999px;
        z-index: 50;
    }
    .bx-next:hover {
        background-position: -33px -58px;
    }
}
.bx-wrapper {
  height: 240px;
}
