$headerWideBG:         url(../img/header__bg-wide.jpg) no-repeat;
$haederMobileBG:			 url(../img/header__bg-mobile.jpg) no-repeat;
$sprite:               url(../img/arrow.png) no-repeat;
$MSRegular:				     'MontSerratRegular', Arial, sans-serif;
$RobotoRegular:				 'RobotoRegular', Arial, sans-serif;
